<a routerLink="/overviewposts">Back to post overview</a>

<h3 *ngIf="selectedPost" >Make an appointment in {{ selectedPost?.name }}</h3>

<div>
    <span>step {{ currentStep + 1 }} of {{ total_steps }}</span>
</div>

<app-wizard-who *ngIf="currentStep === 0" (isValid)='isValid(!!$event)'></app-wizard-who>
<app-wizard-what *ngIf="currentStep === 1" (isValid)='isValid(!!$event)'></app-wizard-what>
<app-wizard-when *ngIf="currentStep === 2" (isValid)='isValid(!!$event)'></app-wizard-when>
<app-wizard-overview *ngIf="currentStep === 3"></app-wizard-overview>

<br />
<br />
<br />

<button *ngIf="currentStep > 0" (click)="back()" >back</button>
<button *ngIf="currentStep < total_steps - 1" (click)="next()" [disabled]="!wizardIsValid">next</button>
<button *ngIf="currentStep === total_steps - 1" (click)="submit()" [disabled]="!wizardIsValid">submit</button>